 /* Hier ist der Body zu Bearbeitung, also alles was auf der Seite Grundleged verändert wird*/
 body{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 10%;
    height: 10%;
    background-image:url(images/Home.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} 
/* Hauptmenü Überschrift/ Schrifteigenschaften */
h2 {
    font-size: 1,5em;
    color: aliceblue;
}

/* Hauptmenüs/Schrifteigenschaften */
 .navHauptmenü ul li a{
    color: #fefefe;
    text-decoration: none;
 }
 .navHauptmenü ul li{ 
    list-style: none;
    text-transform: uppercase;
    content:"";
    height: 20px;
    width: 34;
    /* background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px; */
}

/* Einstellung für das Localmenü/Schrifteigenschaften*/
.navLocalmenü ul li a{
    color: #fefefe;
    text-decoration: none;
}

/* .navLocalmenü ul li{
    text-transform: uppercase;
    list-style: none;
    content:"";
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}
/* Schrifteigenschaften der Überschriften */

