 /* Hier ist der Body zu Bearbeitung, also alles was auf der Seite Grundleged verändert wird*/
 *{

    margin: 0;
    padding: 0;
    font-family: sans-serif;

    /*width: 100%;
    height: 100vh;*/
    background-image:url(images/apple.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

/* Makes sure the background doesn't repeat */
    background-repeat: no-repeat;

/* Centers the background image */
} 
/* Farbe des Hauptmenüs/Schriftfarbe */
.navHauptmenü li a{
    color: #fefefe;
    text-decoration: none;
}
   
/* Einstellung für das Localmenü/Schrifteigenschaften*/
.navLocalmenü li a{
    color: #fefefe;
    text-decoration: none;  
}
.Background{
    height: 1cm;
    background-color:  #000000;
    top: 0;
    left: 0;
    right: 0;
    color:#000000

}
/*.banner{
    
    
}*/


/* Ändern die Schriftgröße der Überschriften */
h2 {
    font-size: 25px;
    color: aliceblue;
}




    

    nav{
    display: flex;
    padding: 2
    }



/* Fügen Sie einen Rand und Abstand zu den Navigationspunkten hinzu 
nav ul li {
   
    margin-left: 1px;
}

/* Ändern Sie die Farbe der Navigationslinks */
/*nav ul li a {
    color: #333;
    text-decoration: none;
}
nav ul li a {
    color: #333;
    text-decoration: none;
}
